<div class="modal fade" id="login-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form action="#" autocomplete="off" ng-submit="submitPassword()">
                    <fieldset class="form-group">
                        <input type="password" class="form-control" ng-model="password">
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="submitPassword()">Submit</button>
            </div>
        </div>
    </div>
</div>